body {
    display: flex
}

.mid-container {
    max-width: 500px;
}

.sidebar {
    flex: 1;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.sidebar-heading {
    display: flex;
    width: 100%;
    justify-content: center;
    text: center;
    color: #776e65;
    font-size: 60px;
    font-weight: bold;
}

.right {
    text-align: right
}

.refresh-ai-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  text-align: center;
}

ul.ai-list{
    padding: 0px
}
ul.ai-list>li {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: 0px;
    margin-top: 6px;
    height: 48px;
    background-color: #8f7a66;
    padding: 6px;
    font-size: 18px;
    justify-content: center;
    box-sizing: border-box;
    color: #f9f6f2;
}
ul.ai-list>li:hover {
    cursor: pointer
}

.show{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.show>span{
    display: flex;
    width: 50px;
    justify-content: center;
}
.show>div{
    flex: 1;
    background-color: #bbada0;
    color: white;
    padding: 6px;
    font-size: 18px;
    justify-content: center;
    box-sizing: border-box;
    height: 48px;
}
